body{
    text-transform: capitalize;
    width: 100%;
}
h1{
    font-size: 100px;
    font-family: cursive;
    color: red;
    text-align: center;
    text-transform: uppercase;
    background-image: url(anime.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 200px;
    text-shadow: 15px 15px 10px rgb(60, 112, 8);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 30px;
    box-sizing: border-box;
    width: 100%;
    min-width: 60%;
}
.login {
    font-size: 20px;
    float: right;
    color: rgb(255, 148, 8);
}
a{
    color: black;
    text-decoration: none;
}
nav {
    background-image: url(download.jpg);
    margin-top: 0%;
    background-color: seagreen;
    text-align: center;
}
li{
    display: inline-block;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
li a{
    color: rgba(6, 54, 94, 0.925);
    margin-left: 25px;
    margin-right: 25px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex1{
    flex-flow: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.rodape{
    border-color: black;
    border-style:double;
    text-align: center;
    font-size: 25px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 0px;
}